.flashcard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fcFront {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  backface-visibility: hidden;
  position: absolute;
}
.fcBack {
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotateX(180deg);
  backface-visibility: hidden;
  position: absolute;
  border-radius: 25px;
  left: 0;
  top: 0;
}
.flashcard img {
  max-height: 100%;
  max-width: 100%;
}
.frontToBack {
  transform-style: preserve-3d;
  animation: turnAround 0.2s forwards;
}

.backToFront {
  transform-style: preserve-3d;
  animation: turnBackAround 0.2s forwards;
}

@keyframes turnAround {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(180deg);
  }
}
@keyframes turnBackAround {
  from {
    transform: rotateX(180deg);
  }
  to {
    transform: rotateX(0deg);
  }
}
