.fcCarousel {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardHolder {
  width: 100%;
  height: 80%;

  border-radius: 15px;
  position: relative;
}
.fcCard {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translateX(0%);

  opacity: 0;
  cursor: pointer;
}

#fcCard0 {
  transform: translateX(0%);
  opacity: 1;
  z-index: 20;

}


.next {
  animation: in-left 0.2s ease forwards;
  z-index: 20;
}
.back {
  animation: out-right 0.2s ease forwards;
}
.nextRight {
  animation: in-right 0.2s ease forwards;
  z-index: 20;

}
.backRight {
  animation: out-left 0.2s ease forwards;
}
@media only screen and (max-width: 800px) {
  .fcCarousel {
    width: 85%;
  }
}

@keyframes in-left {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes out-right {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(5%);
  }
}
@keyframes in-right {
  from {
    opacity: 0;
    transform: translateX(5%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes out-left {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-5%);
  }
}
