.multipleChoice{
    width: 40rem;

}

.mcHeader {
    height: 2rem;
    width: 22rem;
    color: white;
    font-size: 1.7rem;
}
.mcHeader h1{
    width: 100%;
}
.mcOptions {
    width: 100%;
}
.mcQs{
    width: 100%;
    list-style: none;
}