.nav {
  width: 100%;
  height: 6rem;
  display: flex;
  padding-left: 20px;
  box-sizing: border-box;
}
.navHeading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2rem;
  position: relative;
}
.underline {
  height: 4px;
  width: 0%;
  border-radius: 12px;
  background-color: #ff0038;
  margin-top: 4px;
}
.navHeading:hover {
  cursor: pointer;
}
.title {
  height: 70%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.navLinks {
  margin-left: 20px;
  width: 30rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navLinks ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}
.navLinks li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navItem {
  font-size: 1.2rem;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.navItem .title {
  height: 65%;
  width: 100%;
}
.navItem .underline {
  margin-top: 8.5px;
  display: block;
  width: 0;
}
.navItem .title:hover {
  cursor: pointer;
}
.unactive:hover .underline {
  display: block;
  animation: grow 0.25s forwards;
}

@media only screen and (max-width: 750px) {
  span {
    display: none !important;
  }
  .navHeading .title {
    font-size: 1.6rem !important;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .nav {
      height: 4rem;
  }
  
}
@media only screen and (max-width: 1140px) {
  .navLinks {
    display: none;
  }
  .nav {
  padding-left: 10px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
}

@keyframes grow {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
