.drinkHistory {
    width: 40rem;
    height: 12rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.right{
    right: 0;
}