.carousel {
    width: 20rem;
    height: 50vh;

    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.carouselHeader{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 15%;

}
.carouselHeader h2 {
    font-size: 2rem;
    color: white;
}
@media only screen and (min-width: 950px) {
    .carousel {
      width: 45rem;
    }
  }
  
 
  @media only screen and (max-width: 650px) {
    .carousel{
      width: 20rem;

  
    }
  }
  
  