.searchResults {
  max-height: 10rem;
  overflow: scroll;
  width: 20rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: absolute;
  top: 100%;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

@media only screen and (min-width: 950px) {
  .searchResults {
    width: 60rem;
    max-height:15rem;
  }
}

@media only screen and (min-width: 650px) {
  .searchResults {
    width: 40rem;

  }
}
@media only screen and (max-width: 800px){
  .searchResults{
    max-height: 6rem;
  }
}

